extends layout

block content
  .w3-card-4
    header.w3-container.w3-teal
      h1 Cinema Records List 
    
    .w3-container
      table.w3-table-all.w3-margin-top
        tr
          th Id
          th Título
          th Ano
          th Elenco
          th Géneros

        each e in list
          tr
            td: a(href=`/filmes/${e.id}`)= e.id
            td: a(href=`/filmes/${e.id}`)= e.title
            td= e.year
            td= e.cast.join(', ')
            td= e.genres.join(', ') 